In [5]:
list = ['apple','banana','lemon','orange','pineapple']
for i in list:
    print(i)

apple
banana
lemon
orange
pineapple

In [ ]:
for i in len(2):
    print(i)

In [9]:
 a = len('apple')
print(a)

5

In [11]:
 b = len (list)
print(b)

5

In [14]:
x = [1,2,3,4,5,6,7,8,9,10]
for i in x:
    if i%2 == 0:
        continue
        print(i)

In [15]:
for i in enumerate :
    if (list[i]==a and list[i]==b and list[i]==c):
        print(a,b,c)
        i=i+1
        break

TypeError: 'type' object is not iterable

In [ ]:
list = [12,15,14,156,78,46]
a = int(input("enter a number"))
b = int(input("enter a number"))
c = int(input("enter a number"))

In [ ]:
list = [12,15,14,156,78,46]
a = int(input("enter a number"))
b = int(input("enter a number"))
c = int(input("enter a number"))

In [ ]:
list = [12,15,14,156,78,46]
a = int(input("enter a number"))
b = int(input("enter a number"))
c = int(input("enter a number"))
for i in list:
    if (list [i] == a and list [i] == b and list [i] == c):
        print(a,b,c)
        i = i+1

In [7]:
name = ['anu','ram','ravi','venugopal','bharath','gougul','vinodhini']
age =[14,15,21,23,30,29,12,]
hobby= ['singing','sleeping','reading','swimming','coin collection','cooking','jogging']
for name , age ,hobby in zip(name,age,hobby):
    print("my name is",name,"and my age is",age,"my hobby is",hobby)

my name is anu and my age is 14 my hobby is singing
my name is ram and my age is 15 my hobby is sleeping
my name is ravi and my age is 21 my hobby is reading
my name is venugopal and my age is 23 my hobby is swimming
my name is bharath and my age is 30 my hobby is coin collection
my name is gougul and my age is 29 my hobby is cooking
my name is vinodhini and my age is 12 my hobby is jogging

In [14]:
name=['anu','ram','ravi','venugopal','bharath','gougul','vinodhini']
for i in enumerate (name):
    print(i)

(0, 'anu')
(1, 'ram')
(2, 'ravi')
(3, 'venugopal')
(4, 'bharath')
(5, 'gougul')
(6, 'vinodhini')

In [13]:
a =[14,15,21,23,30,29,12,]
for i in enumerate (a):
    print(i)

(0, 14)
(1, 15)
(2, 21)
(3, 23)
(4, 30)
(5, 29)
(6, 12)

In [17]:
# loop from 1 to 10
for i in range(1, 11):
   
    # If i is equals to 6,  
    # continue to next iteration  
    # without printing 
    if i == 6:
        continue
    else:
        # otherwise print the value
        # of i
        print(i)

1
2
3
4
5
7
8
9
10

In [12]:
for i in range(1,10):
    if (i>6):
        break
    else:
        print(i)

1
2
3
4
5
6

In [13]:
s={1,2,3,4,5}
for i in s:
    if(i==5):
        break
    print(i)

1
2
3
4