In [1]:
number = [1, 2, 3, 4, 5]
a = [x**2 for x in number]
print(a)

[1, 4, 9, 16, 25]

In [ ]:
# ENUMERATE

In [2]:
number = [1, 2, 3, 4, 5]
for x in enumerate(number):
    print(x)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [1]:
fruits = ['apple','banana','lemon','orange','pineapple']
for i in enumerate(fruits):
    print(i)

(0, 'apple')
(1, 'banana')
(2, 'lemon')
(3, 'orange')
(4, 'pineapple')

In [3]:
number = [1, 2, 3, 4, 5]
a = [(x**2) * 2 for x in number]
print(a)

[2, 8, 18, 32, 50]

In [ ]:
#ZIP FILE

In [5]:
name = [ 'anu','bavi','ram']
age = [5,2,9]
for name,age in zip(name,age):
    print("my name is",name," and my age is",age)

my name is anu  and my age is 5
my name is bavi  and my age is 2
my name is ram  and my age is 9