In [1]:
#LIST

In [2]:
list = [1 , 2 , 3, 4 , 5, 6 , 7, 8 ,9 ,10]

In [1]:
type(list)

type

In [ ]:
list2= ['poster ','presentation', 'is','done', 'by', 'vinodhini']

In [9]:
list2 [1]

NameError: name 'list2' is not defined

In [3]:
list[:5:2]

list[slice(None, 5, 2)]

In [10]:
list =[1,'khij',0,'suresh']

In [20]:
list[-1][3]

'e'

In [39]:
list1 = [1,5,2,['nithiya','vino',[32,'shadhana',63]]]

In [40]:
list1.insert(2,5)

In [ ]:
# today

In [ ]:
# 04.05.2023/THURSDAY

In [74]:
# list

In [75]:
names = ['anusuya','ayesha','raseena','yuvasri','zummana']
age = [18,15,16,19,20,22]
fruit = ['apple','banana','dragon fruit','fig','gauva']
place = ['pondy','delhi','goa','mumbai','kerala','america']

In [5]:
type(names)

list

In [ ]:
#clear function is used to clear the list fully

In [6]:
names.clear()

In [7]:
print(names)

[]

In [9]:
# append function is used to add the values at the last position

In [11]:
age.append(35)

In [12]:
print(age)

[18, 15, 16, 19, 20, 22, 35]

In [13]:
# copy function returns the copy of the particular list

In [14]:
fruit.copy()

['apple', 'banana', 'dragon fruit', 'fig', 'gauva']

In [17]:
fruit.append('apple')

In [18]:
print(fruit)

['apple', 'banana', 'dragon fruit', 'fig', 'gauva', 'apple', 'apple']

In [19]:
# count function is used to count how many times the mentioned value reapeted

In [20]:
fruit.count('apple')

3

In [29]:
# extend function is used to extend the character  and string value it takes 
# only the srting and character value as input

In [27]:
place.extend('c')

In [28]:
print(place)

['pondy', 'delhi', 'goa', 'mumbai', 'kerala', 'america', 'm', 'a', 'd', 'u', 'r', 'a', 'i', 'c', 'h', 'e', 'n', 'n', 'a', 'i', 'c']

In [33]:
# index function is used to return the index value of the particular object

In [34]:
fruit.index('fig')

3

In [37]:
# insert function is used to insert the value at index u mention

In [38]:
place.insert(1,'USA')

In [39]:
print(place)

['pondy', 'USA', 'USA', 'delhi', 'goa', 'mumbai', 'kerala', 'america', 'm', 'a', 'd', 'u', 'r', 'a', 'i', 'c', 'h', 'e', 'n', 'n', 'a', 'i', 'c']

In [44]:
# pop function is used to remove and return the value of the mentioned index

In [47]:
names.pop(-1)

'yuvasri'

In [48]:
print(names)

['anusuya']

In [55]:
# remove function is used to remove the value from the list

In [58]:
fruit.remove('apple')

In [59]:
print(fruit)

['dragon fruit', 'gauva', 'apple']

In [62]:
# reverse function is used to reverse the list

In [66]:
place.reverse()

In [67]:
print(place)

['c', 'i', 'a', 'n', 'n', 'e', 'h', 'c', 'i', 'a', 'r', 'u', 'd', 'a', 'm', 'america', 'kerala', 'mumbai', 'goa', 'delhi', 'USA', 'USA', 'pondy']

In [68]:
# sort function1

In [73]:
age.sort(* , reverse = ascending)

SyntaxError: invalid syntax (2904530000.py, line 1)

In [78]:
# slicing

In [ ]:
names = ['anusuya','ayesha','raseena','yuvasri','zummana']
age = [18,15,16,19,20,22]
fruit = ['apple','banana','dragon fruit','fig','gauva']
place = ['pondy','delhi','goa','mumbai','kerala','america']

In [81]:
names [2:]

['raseena', 'yuvasri', 'zummana']

In [82]:
place[::2]

['pondy', 'goa', 'kerala']

In [83]:
# nested list

In [87]:
sam = ['anusuya','ayesha','raseena',18,15,16,19,20,['apple','banana','dragon fruit','fig',['pondy','delhi','goa','mumbai']]]

In [88]:
type(sam)

list

In [89]:
list[-1]

['apple', 'banana', 'dragon fruit', 'fig', ['pondy', 'delhi', 'goa', 'mumbai']]

In [90]:
list[-1][-1] # to print the inner list values use this

['pondy', 'delhi', 'goa', 'mumbai']

In [93]:
list[-1][-1][::2]

['pondy', 'goa']