In [1]:
import numpy as np
import pandas as pd

TIME STAMP -> PAR
TIME DELTA OR DURATION -> EXACT LENGTH OF TIME
TIME INTERVAL AND PERIOD -> LENGTH OF TIME B/W END 
FINANCIAL MODELING

In [4]:
from datetime import datetime # import datetime or dateutil

In [5]:
datetime(year = 2023,month = 3 ,day = 3)

datetime.datetime(2023, 3, 3, 0, 0)

In [6]:
from dateutil import parser
date = parser.parse("4th july 2023")
date

datetime.datetime(2023, 7, 4, 0, 0)

In [8]:
date.strftime("july")

'july'

In [16]:
date = np.array('2015-07-04',dtype = np.datetime64)
date

array('2015-07-04', dtype='datetime64[D]')

In [17]:
date + np.arange(5) # it goes to the next date

array(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
       '2015-07-08'], dtype='datetime64[D]')

In [18]:
date - np.arange(5) # it goes back to the previous month

array(['2015-07-04', '2015-07-03', '2015-07-02', '2015-07-01',
       '2015-06-30'], dtype='datetime64[D]')

In [21]:
np.datetime64('2005-03-03') # only year month and date formate

numpy.datetime64('2005-03-03')

In [22]:
np.datetime64('2005-03-03 12:00' )

numpy.datetime64('2005-03-03T12:00')

In [26]:
np.datetime64('2005-03-03 12:56:20', 'ps')

numpy.datetime64('1970-02-05T07:12:15.577426903040')

In [27]:
# us -> microsecon
# ns ->nanoseconds

In [28]:
# DATE AND TIME IN PANDAS

In [35]:
date = pd.to_datetime("july 30th  of ,2014")
date  # it is better than numpy for date time

Timestamp('2014-07-30 00:00:00')

In [36]:
date.strftime('%A')

'Wednesday'

In [41]:
date + pd.to_timedelta(np.arange(5),'D') # as like numpy we can add some more dates here

DatetimeIndex(['2014-07-30', '2014-07-31', '2014-08-01', '2014-08-02',
               '2014-08-03'],
              dtype='datetime64[ns]', freq=None)

In [42]:
# PANDAS TIME SERIES INDEXING BY TIME

In [46]:
index = pd.DatetimeIndex(['2014-01-03','2015-03-22','2024-12-31','2014-06-23','2014-02-28'])
data  = pd.Series([0,1,2,3,4], index = index)
data

2014-01-03    0
2015-03-22    1
2024-12-31    2
2014-06-23    3
2014-02-28    4
dtype: int64

In [51]:
data['2015-03-22']

1

In [55]:
data[2:]

2024-12-31    2
2014-06-23    3
2014-02-28    4
dtype: int64

In [57]:
data['2015'] # here we can only acess wih year not with date or day

2015-03-22    1
dtype: int64

In [62]:
dates = pd.to_datetime([datetime(2015,7,3),'3rd of march,2005','2005-03-03','20050303'])
dates # in pandas it can take any form type

DatetimeIndex(['2015-07-03', '2005-03-03', '2005-03-03', '2005-03-03'], dtype='datetime64[ns]', freq=None)

In [64]:
dates.to_period('D') # daily frequency

PeriodIndex(['2015-07-03', '2005-03-03', '2005-03-03', '2005-03-03'], dtype='period[D]')

In [65]:
dates - dates[0] # it show the difference between the dates in days it is also said to be duration

TimedeltaIndex(['0 days', '-3774 days', '-3774 days', '-3774 days'], dtype='timedelta64[ns]', freq=None)

In [68]:
pd.date_range('01-03-2005','10-03-2005')

DatetimeIndex(['2005-01-03', '2005-01-04', '2005-01-05', '2005-01-06',
               '2005-01-07', '2005-01-08', '2005-01-09', '2005-01-10',
               '2005-01-11', '2005-01-12',
               ...
               '2005-09-24', '2005-09-25', '2005-09-26', '2005-09-27',
               '2005-09-28', '2005-09-29', '2005-09-30', '2005-10-01',
               '2005-10-02', '2005-10-03'],
              dtype='datetime64[ns]', length=274, freq='D')

In [70]:
pd.date_range('2015-07-03',periods = 5)

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07'],
              dtype='datetime64[ns]', freq='D')

In [73]:
pd.date_range('2015-07-03',periods = 5 , freq = 'H')

DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 01:00:00',
               '2015-07-03 02:00:00', '2015-07-03 03:00:00',
               '2015-07-03 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [74]:
pd.timedelta_range(0,periods = 5 ,freq = 'H' )

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00'],
               dtype='timedelta64[ns]', freq='H')