In [2]:
# IMPLICIT TYPE CONVERTION
x = 10

print("x is of type:",type(x))

y = 10.6
print("y is of type:",type(y))

z = x + y

print(z)
print("z is of type:",type(z))

x is of type: <class 'int'>
y is of type: <class 'float'>
20.6
z is of type: <class 'float'>

In [3]:
# EXPLICIT TYPE CONVERTION

In [10]:
# Python code to demonstrate Type conversion
# using int(), float()

# initializing string
s = "10010"

# printing string converting to int base 2
c = int(s,2)
print ("After converting to integer base 2 : ", end="")
print (c)

# printing string converting to float
e = float(s)
print ("After converting to float : ", end="")
print (e)

After converting to integer base 2 : 18
After converting to float : 10010.0

In [2]:
str = "hello"
x ='llo'
def trim(str):
    return(str.strip())      

def exists(str, x):
    return (str[i])     

def titleIt(str):
    return (str.title())     

def casesSwap(str):
    return(str.upper())